<div class="input-card">
    <mat-card style="margin: 20px auto; margin-top: 0;">
        <mat-card style="width: 400px; margin: 0 auto">
            <mat-card-title style="margin-bottom: 20px; text-align: center">Add Post</mat-card-title>
            <form [formGroup]="createForm" (ngSubmit)="addPost()">
                <div class="input" style="margin: 0 auto; display: flex; align-items: center; flex-direction: column;">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter Title" formControlName="title">
                    </mat-form-field>
                        <mat-form-field appearance="fill">
                            <textarea matInput placeholder="Leave a message" style="margin-top: 10px;" formControlName="body"></textarea>
                    </mat-form-field>
                    <mat-card-actions style="text-align: center; margin: 0;">
                    <button mat-raised-button color="primary" type="submit"
                    [disabled]="!createForm.valid"
                    >Submit</button>
                </mat-card-actions>
                </div>
            </form>
        </mat-card>
    </mat-card>
</div>